body {
  background-color: rgb(170,170,170);
  margin: 0px;
  font-family: monospace;
}

#canvas {
  width: 640px;
  height: 480px;
  margin: auto;
  background-color: white;
  margin-top: 10px;
}

#workspace {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 150px;
}

#timeline {
  background-color: rgb(50,50,50);
  border: 1px solid white;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 150px;
  overflow-x: scroll;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#timeline .cursor {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  padding-left: 2px;
  border-left-width: 2px;
  border-left-color: rgb(127,127,127);
  border-left-style: solid;
  color: rgb(127,127,127);
}

#timeline .cursor.active {
  border-left-color: white;
  color: white;
}

#timeline .mark {
  cursor: hand;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 8px;
  height: 48px;
  background-color: rgb(180,20,240);
}

#timeline .mark:hover {
  background-color: rgb(220,80,220);
}

.toolbox {
  position: absolute;
  left: 5px;
  top: 5px;
  width: 100px;
  height: 300px;
  background-color: rgb(240,240,240);
  border: 1px solid black;
  padding: 2px;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.toolbox button {
  cursor: pointer;
  width: 32px;
  height: 32px;
  margin-left: 0px;
  margin-right: -6px;
  margin-top: 2px;
  background-color: rgb(220,220,220);
}

.toolbox button:hover {
  background-color: white;
}

.toolbox button.selected {
  background-color: rgb(127,127,127);
  color: white;
}

.window .title {
  cursor: hand;
  height: 16px;
  background-color: rgb(50,50,127);
  color: white;
  padding: 2px;
}

.window.dragging .title {
  cursor: move;
}

.window .title:hover {
  background-color: rgb(50,50,192);
}
